{% extends 'base.html' %}
{% load static %}
{% block title %}
    Transaction Detail
{% endblock title %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_slide.html' %}
            <main class="col-md-9">
                <div class="card mb-2">
                    <div class="card-body d-flex align-items-center">
                        <nav class="flex-fill"> 
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'my_transaction' %}">Transaction</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Detail</li>
                        </ol>  
                        </nav> <!-- col.// -->
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body">
                        {% for obj in order %}
                        <div class="card mb-3">
                            <header class="card-header">
                                <ul class="row mt-2 mb-2">
                                    <li class="col-md-4 text-left">
                                        <strong class="d-inline-block mr-3">Order ID: {{obj.order_number}}</strong>
                                    </li>
                                    <li class="col-md-4 text-left">
                                        <span>Date: {{obj.created_at}}</span>
                                    </li>
                                    <li class="col-md-4 text-right">
                                        <a href="{% url 'order_detail' obj.order_number %} " target="_blank" class="btn btn-sm btn-light"> Details </a>
                                    </li>
                                </ul>
                            </header>
                            <div class="card-body">
                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <h6 class="text-muted">Payment</h6>
                                        <!-- <span class="text-success">
                                            <i class="fab fa-lg fa-cc-visa"></i>
                                            {{obj.order.payment.payment_method}}  **** 4216  
                                        </span> -->
                                        {% if obj.payment.payment_method == 'bca_VA' %}
                                        <img src="{% static 'images/icons/pembayaran-bca.png' %}" style="width: 50px;">
                                        {% elif obj.payment.payment_method == 'bni_VA' %}
                                        <img src="{% static 'images/icons/pembayaran-bni.png' %}" style="width: 50px;">
                                        {% elif obj.payment.payment_method == 'bri_VA' %}
                                        <img src="{% static 'images/icons/pembayaran-bri.png' %}" style="width: 50px;">
                                        {% else %}
                                        <img src="{% static 'images/icons/pembayaran-mandiri.png' %}" style="width: 50px;">
                                        {% endif %}
                                        <p>status : 
                                            <span class=" {% if obj.payment.status == 'pending' %}badge badge-warning {% elif obj.payment.status == 'cancel' or obj.payment.status == 'denny' or obj.payment.status == 'expire' %} badge badge-danger {% else %} badge badge-success {% endif %}">
                                            {{ obj.payment.status }}
                                            </span><br>
                                            Subtotal: Rp. {{obj.order_total}}<br>
                                            Tax: Rp. {{obj.tax}} <br>
                                            Cost :  Rp. {{obj.orderdelivery.cost}} <br>
                                            <span class="b">Total:  Rp. {{obj.payment.amount_paid}} </span>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="text-muted">Customer</h6>
                                        <p>
                                            Nam :{{obj.address.full_name}} <br>
                                            Phone: {{obj.address.phone}} <br>
                                            Email: {{obj.address.email}} <br>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="text-muted">Shipping Address</h6>
                                        <p>
                                            Jl: {{obj.address.full_address}}<br>
                                            Province: {{obj.address.district.province.name}}<br>
                                            {{obj.address.district.city.area}}: {{obj.address.district.city.name}}<br>
                                            P.O. Box: {{obj.address.district.city.post_code}}
                                        </p>
                                    </div>                    
                                </div> <!-- row.// -->
                                <hr>
                                <ul class="row">
                                    {% for pro in obj.orderproduct_set.all %}
                                    <li class="col-md-4">
                                        <figure class="itemside  mb-3">
                                            <div class="aside"><img src="{{pro.product.product.images.url}}" class="img-sm border"></div>
                                            <figcaption class="info align-self-center">
                                                <p class="title">{{pro.product.product.name}}</p>
                                                <span class="text-muted">Rp. {{pro.product_price|floatformat:"2g"}} x {{pro.quantity}} </span><br>
                                                <span class="text-muted">
                                                    {% if pro.variation.all %}
                                                        {% for i in pro.variation.all %}
                                                            {{ i.variation_value | capfirst }} <br>
                                                        {% endfor %}
                                                    {% endif %}
                                                </span>
                                            </figcaption>
                                        </figure> 
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div> <!-- card-body .// -->
                        </div> <!-- order-group.// --> 
                        {% endfor %}
                    </div>
                </div>
            </main>
        </div> <!-- row.// -->
    </div>
        
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}