{% extends 'base.html' %}
{% block title %}
	Ar-Rasyiid | Admin Dashboard
{% endblock title %}
{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<!-- <section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Dashboard</h2>   
    </div>
</section> -->
<!-- ========================= SECTION INTRO END// ========================= -->


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_slide.html' %}
            <main class="col-md-9">
                {% include 'includes/alerts.html' %}
                <div class="card mb-2">
                    <div class="card-body d-flex align-items-center">
                        <nav class="flex-fill"> 
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Logged is: {{user.full_name}}</li>
                        </ol>  
                        </nav> <!-- col.// -->
                    </div>
                </div>
                
                <article class="card mb-3">
                    <div class="card-body">
                        <div class="row"> 
                            <div class="card-body">
				
                                <figure class="icontext">
                                        <div class="icon">
                                            <img class="rounded-circle img-sm border" src="{{userprofile.profile_picture.url}}">
                                        </div>
                                        <div class="text">
                                            <strong> {{userprofile.user.full_name}}</strong> <br> 
                                            {{userprofile.user.email}}<br> 
                                            <!-- <a href="#">Edit</a> -->
                                        </div>
                                </figure>
                                <hr>
                                <div class="row mb-4">
                                    <div class="col-md-6 text-left">
                                        <p>
                                            <i class="fa fa-map-marker text-muted"></i> &nbsp; My address:  
                                            <br>
                                            {{userprofile.full_address}}<br>
                                            {{userprofile.city}} &nbsp; {{userprofile.postcode}}
                                        </p>
                                    </div>

                                    <div class="col-md-6 text-right">
                                        <div class="mr-4">
                                            <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-outline-primary-light">Edit</a>
                                        </div>
                                    </div>

                                </div>
                                <article class="card-group mt-2">
                                    <figure class="card bg">
                                        <div class="p-3 text-center">
                                            <h5 class="card-title">Total Orders</h5>
                                            <h4 class="card-title">{{orders_count}}</h4>
                                            <i class="fa fa-eye"></i>
                                            <a href="{% url 'my_orders' %}"> 
                                            <span>View Orders</span><br>
                                            </a>
                                        </div>
                                    </figure>
                                    <figure class="card bg">
                                        <div class="p-3 text-center">
                                            <h5 class="card-title">Awaiting delivery</h5>
                                            <h4 class="card-title">{{confirm}}</h4>
                                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                                            <span class="sr-only">Loading...</span>
                                            <a href="{% url 'my_orders' %}">
                                                <span>View Orders</span><br>
                                            </a>
                                        </div>
                                    </figure>

                                    <figure class="card bg">
                                        <div class="p-3 text-center">
                                            <h5 class="card-title">On The Way</h5>
                                            <h4 class="card-title">{{ontheway}}</h4>
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <a href="{% url 'on_the_way' %}">
                                                <span>view Orders</span><br>
                                            </a>
                                        </div>
                                    </figure>
                                    <figure class="card bg">
                                        <div class="p-3 text-center">
                                            <h5 class="card-title">Total Delivery</h5>
                                            <h4 class="card-title">{{comleted}}</h4>
                                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                            <a href="{% url 'delivered' %}"> 
                                                <span>View Orders</span><br>
                                            </a>
                                        </div>
                                    </figure>
                                </article>
                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                    
                </article> <!-- order-group.// --> 
            </main>
        </div> <!-- row.// -->
    </div>
        
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
     
    
{% endblock content %}