{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_slide.html' %}
            <main class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        {% include 'orders/my_order/navbar/header.html' %}
                    </div>
                    <div class="card-body">
                            <article class="card mb-2">
                                <div class="card-body">
                                    <div class="text-center mb-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16" style="color: blue;">
                                            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                                            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                        </svg>
                                    </div>
                                    <br>
                                    <div class="text-center">
                                        <!-- <i class="fas fa-exclamation-triangle" style="height: 100px; width: 100px; color: blue;"></i> -->
                                        <h1 class="font-weight-bold font-italic">404</h1>
                                        <h2 class="mb-3">Page Not Found</h2>
                                        <p class="font-weight-normal mb-4" >We’re sorry, the page you have looked for does not exist in our website! Maybe go to our home page or try to use a search?</p>
                                        <a href="{% url 'store' %}" class="btn btn-primary mb-4">Continue Shopping</a>
                                    </div>
                                    
                                </div>
                            </article>
                        
                    </div>
                </div>
            </main>
        </div> <!-- row.// -->
    </div>
        
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}