{% extends 'base.html' %}
{% load static %}
{% block title %}
	Ar-Rasyiid | About Us
{% endblock title %}

{% block head %}

{% endblock head %}

{% block content %}

<!-- ========================= SECTION PRODUCT POPULAR ========================= -->
<section class="section-pagetop bg">
  <div class="container ">
    {% include 'includes/alerts.html' %}
		<header class="section-heading">
			<h2 class="section-title text-center">About Us</h2>
			<nav class="d-flex align-items-center justify-content-center">
                <ol class="breadcrumb text-white">
                    <li class="breadcrumb-item"><a href="{% url 'store' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Abouts</li>
                </ol>  
                </nav>
		</header>
	</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

<section class="section-intro padding-y-sm py-2">
	<div class="container">
		<div id="carouselExampleSlidesOnly" class="mb-3" data-ride="carousel">
			<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{% static 'images/banners/banner_3.png' %}" class="img-fluid" alt=".." >
			</div>
			</div>
		</div>
	</div> 
</section>

<section class="section-intro padding-y-sm py-2">
	<div class="container">
    <header class="section-heading">
      <h5 class="section-title text-center" style="color: gray; font-style: italic;">About US</h5>
      <h5 class="section-title text-center">Here is some information about us</h5>
    </header>
    <hr>
		<!-- <div id="carouselExampleSlidesOnly" class="mb-3" data-ride="carousel">
			<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{% static 'images/banners/banner_3.png' %}" class="img-fluid" alt=".." >
			</div>
			</div>
		</div> -->
	</div> 
</section>

<section class="section-name padding-y py-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <!-- ============================ COMPONENT ITEM BG ================================= -->
              <div class="shadow-sm card-banner">
                
                <div class="p-4" style="width:100%">
                  <h5 class="card-title">Who We Are ?</h5>
                  <p>We are a busines in retail or wholesale men's Muslim clothing with authentic Indonesian batik combinations, such as shirts, pants and Muslim hats.</p>
                </div> 
              </div>
              <!-- ============================ COMPONENT ITEM BG  END .// =========================== -->
            </div> <!-- col.// -->
            <div class="col-md-4">
              <!-- ============================ COMPONENT ITEM BG ================================= -->
              <div class="shadow-sm card-banner">
                <div class="p-4" style="width:75%">
                  <h5 class="card-title">Who We Do ?</h5>
                  <p>Especially for adult Muslim men who want to look in accordance with sharia rules, but still bargaya and trendy.</p>
                </div>
              </div>
              <!-- ============================ COMPONENT ITEM BG  END .// =========================== -->
            </div> <!-- col.// -->
            <div class="col-md-4">
              <!-- ============================ COMPONENT ITEM BG ================================= -->
              <div class="shadow-sm card-banner">
                <div class="p-4" style="width:80%">
                  <h5 class="card-title">Why Choose Us</h5>
                  <p>The products we sell have been checked in detail and the best quality, with neat stitches so that it is comfortable to wear for all events.</p>
          
                </div>
              </div>
              <!-- ============================ COMPONENT ITEM BG  END .// =========================== -->
            </div> <!-- col.// -->
        </div>
    
    </div> <!-- container .//  -->
</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
<section class="section-name padding-y py-2 mb-2">
  <div class="container">
    <div class="row mb-5">
        <div class="col-md-7 text-center mt-5 py-5">
          <!-- ============================ COMPONENT BANNER 7 ================================= -->
          <div class="d-flex align-items-center justify-content-center">
              <h3 class="card-title" style="font-style: italic; color: gray;">Photography is my hobby <br> right now</h3> <br>
          </div>
          <div class="d-flex align-items-center justify-content-center py-5">
            <p class="card-text" style="max-width: 400px">I accidentally took a photo at the store and got a pretty good result.</p>
          </div>
          <div class="icontext mb-3">
            <img class="icon icon-md rounded-circle" src="{% static 'images/avatars/avatar.png' %}">
          </div>
            <p class="text">Photo graphers
            </p>
          <!-- ============================ COMPONENT BANNER 7  END .// =========================== -->
        </div> <!-- col.// -->
        <div class="col-md-5">
      <!-- ============================ COMPONENT BANNER 8  ================================= -->
          <img src="{% static 'images/banners/banner_blog.jpg' %}" class="img-fluid" alt="...">
      <!-- ============================ COMPONENT BANNER 8  END .// ================================= -->
        </div> <!-- col.// -->
    </div> <!-- row.// -->
  </div>
</section>

<section class="section-name padding-y py-5 mb-5">
  <header class="section-heading">
    <div class="text-center">
      <h3 class="section-title text-center">Our Team</h3>
      <p class="text-center">
        Meet Our Team
      </p>
    </div>
  </header><!-- sect-heading -->
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="text-center">
                  <img src="{% static 'images/avatars/avatar.png' %}" class="py-2" alt="">
                  <h4>John Smith</h4>
                  <span>Fashion Design</span>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="text-center">
                  <img src="{% static 'images/avatars/avatar.png' %}" class="py-2" alt="">
                  <h4>Christine Wise</h4>
                  <span>C.E.O</span>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="text-center">
                  <img src="{% static 'images/avatars/avatar.png' %}" class="py-2" alt="">
                  <h4>Sean Robbins</h4>
                  <span>Manager</span>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="text-center">
                  <img src="{% static 'images/avatars/avatar.png' %}" class="py-2" alt="">
                  <h4>Lucy Myers</h4>
                  <span>Delivery</span>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock content %}

{% block script %}
{% endblock script %}